body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #ffe4c4;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.qr-code img {
    width: 100%;
    border-radius: 10px;
}

.content h1 {
    font-size: 1.2em;
    margin: 20px 0 10px;
    color: #000;
}

.content p {
    font-size: 0.9em;
    color: #555;
}